.footer
  div#signup
  div.space
  a(href = "http://www.apple.com")
    img(src = "../images/appstore.png")
  h4 Subscribe to our newsletter and stay updated on the release
  form.pure-form(action=page.metadata.email, method="POST")
    fieldset
      input(type = 'email', placeholder = 'Your E-Mail')
      button.signupbutton(type = 'submit' class = 'pure-button pure-button-primary' name= 'send') Notify me
  p.spam We use MailChimp for a perfect mailing list.
  
