.footer
  div#signup
  div.space
  img(src = "../images/appstore.png", href="apple.com")
  h4(style = 'color:gray; font-weight:200; font-size:24pt;text-align:center;') Subscribe to our newsletter and stay updated on the release
  form
    input(type='text' name='email' placeholder = 'Your E-Mail')
    a.signupbutton(class='button' name = 'send' type='submit') Notify me
  
