extends layout

block append title
  title=page.title
  
block content
  .row
    div.backgroundImage.pure-u-md
      img.logo(src="../images/fulllogo.png")
      h1 Stand Out from the Crowd
      div.go-down.pure-u-3-15
        p Meet the revolutionary platform
        img.godown(src = "../images/go-down.png")
        div.space
  .row
    div.aboutus.pure-g
      h3.pure-u-5-26 ABOUT US.
      p.pure-u-13-24 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis ligula urna, ac porttitor orci ultricies non. Quisque ac tempor diam. Vestibulum eu porta turpis, vitae faucibus tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  .row
    div.section3
      h3 Improve your Google results now!
      p Look great when employers, clients, and networks google you
      div.space
      div.pure-u-4-5
        a#transitionbutton(class='border-button') get early access
      
      img.mac.pure-img.pure-u-20-24(src = "../images/mac.png")
  .row
    div.section4
      h3 Platforms We Support
      p More integration to come, stay tuned!
      div.space
      div#slider2.slides.pure-u-11-24
        ul.rslides
          img.social(src = "../images/fb.png")
          img.social(src = "../images/google.png")
          img.social(src = "../images/twitter.png")
          img.social(src = "../images/linkedin.png")
          img.social(src = "../images/aboutme1.png")
  .row