extends layout
  
block content
  include navbar
  .row
    div#firstpage.backgroundImage.pure-u-md
      h1 Stand Out from the Crowd
      div.go-down.pure-u-3-15
        p Meet the revolutionary platform
        img.godown(src = "../images/go-down.png")
  .row
    div.aboutus.pure-g
      h3.pure-u-5-26 ABOUT US.
      p.pure-u-10-24 We created an online platform that gives you the ability to customize and control how you are perceived on the web.
  
  .row
    div.world
      h3.pure-u-5-26 1 Billion Names Searched
      p.pure-u-12-24 3 in 4 companies are required to Google you before hiring and this trend is only increasing. To improve your Google results, you either need to have the understanding of search engine optimization or resort to agencies that charge thousands of dollars. 
      
  .row
    div#macdiv.section3
      h3 Improve your Google results now!
      p Look great when employers, clients, and networks google you
      div.space
      div.pure-u-4-5
        a#transitionbutton(class='border-button') get early access
      
      img.mac.pure-img.pure-u-20-24(src = "../images/mac.png")
      
  .row
    div#platforms.section4
      h3 Platforms We Support
      p More integration to come, stay tuned!
      div.space
      div#slider2.slides.pure-u-11-24
        ul.rslides
          img.social(src = "../images/logo4.png")
  .row
