extends layout
  
block content
  include navbar
  include page1
  include page2
  include page3
  .row
    div#platforms.section4
      h3 Platforms We Support
      p More integration to come, stay tuned!
      div.space
      div#slider2.slides.pure-u-11-24
        ul.rslides
          img.social(src = "../images/logo4.png")
  .row
