extends layout
  
block content
  include navbar
  include page1
  include page2
  .row
    div#macdiv.section3
      h3 Improve your Google results now!
      p Look great when employers, clients, and networks google you
      div.space
      div.pure-u-4-5
        a#transitionbutton(class='border-button') get early access
      
      img.mac.pure-img.pure-u-20-24(src = "../images/mac.png")
      
  .row
    div#platforms.section4
      h3 Platforms We Support
      p More integration to come, stay tuned!
      div.space
      div#slider2.slides.pure-u-11-24
        ul.rslides
          img.social(src = "../images/logo4.png")
  .row
