.page
  .backgroundImage
    .row.page-section
      .main-heading Stand Out from the Crowd
    .row.page-section
      .go-down
        p Meet the revolutionary platform
        img.godown(src = "../images/arrows/go-down.png")
