.page
  .improve-results
    .content-container
      .sub-heading Improve your Google Results now!
      .general-text Look great when employers, clients, and networks google you
      img.mac-image.pure-img.pure-u-1(src = "../images/mac.png")
      div.pure-u-1
        a#transitionbutton.pure-button.button(href="#signup") Get Early Access!
