.page
  .backgroundImage.pure-u-md
    .row.page-section
      .main-heading Stand Out from the Crowd
    .row.page-section
      .go-down.pure-u-3-15
        p Meet the revolutionary platform
        img.godown(src = "../images/go-down.png")
