.page
  .page-section
    .section-container.about-us
      .content-container
        .sub-heading About Us
        .general-text We created an online platform that gives you the ability to customize and control how you are perceived on the web.
  .page-section
    .section-container.world
      .content-container
        .sub-heading 1 Billion Names Searched
        .general-text 3 in 4 companies are required to Google you before hiring and this trend is only increasing. 
        br
        .general-text To improve your Google results, you either need to have the understanding of search engine optimization or resort to agencies that charge thousands of dollars. 
