.page
  .improve-results
    .content-container
    .space
    .space
    .space
      .sub-heading Improve your Google Results now!
      .general-text Look great when employers, clients, and networks google you
      .space
      div.pure-u-1
        a#transitionbutton.pure-button.button Get Early Access!
      img.mac-image.pure-img.pure-u-1(src = "../images/mac.png")
      
