link(rel='stylesheet', href='style/style.css')
link(rel='stylesheet', href='style/pure-release-0.6.0/pure-min.css')
link(rel='stylesheet', href='style/pure-release-0.6.0/grids.css')
link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
link(rel='stylesheet', href='/js/ResponsiveSlides.js-master/responsiveslides.css')