div#signup
div.space
h4 Subscribe to our newsletter and stay updated on the release
div.container 
  form#mc-embedded-subscribe-form.subscribe-form.pure-form(action='//github.us11.list-manage.com/subscribe/post?u=27483462d556d513c3420a8cd&id=9eb9388961', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
    #mc_embed_signup_scroll
      .row
        input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Your Email', required='', class="pure-u-1 pure-u-md-1-4")
      div(style='position: absolute; left: -5000px;')
        input(type='text', name='b_27483462d556d513c3420a8cd_9eb9388961', tabindex='-1', value='')
      .row
        button#mc-embedded-subscribe.subscribe-button(type='submit' class='pure-button pure-button-primary' name='subscribe' value='Send', class="pure-u-1 pure-u-md-1-5") Notify Me
  p.spam We use MailChimp for a perfect mailing list - no spam, we promise.
