.page-section-subscribe
  .subscribe
    div#signup.signup
      div.space
        h4 Subscribe to our newsletter and stay updated on the release
      div.container.subcontainer 
        form#mc-embedded-subscribe-form.subscribe-form.pure-form(action='//brandbound.us11.list-manage.com/subscribe/post?u=b7671a67ff3a34a5224cd2a9f&amp;id=e553d4d329', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            .row
              input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Your Email', required='', class="pure-u-1 pure-u-md-1-4")
            div(style='position: absolute; left: -5000px;')
              input(type='text', name='b_b7671a67ff3a34a5224cd2a9f_e553d4d329', tabindex='-1', value='')
            .row
              button#mc-embedded-subscribe.button(type='submit' class='pure-button pure-button-primary pure-u-1 pure-u-md-1-4' name='subscribe' value='Send') Notify Me
              
              