@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

$compressed: true;

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-weight: 300;
}
