@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

$compressed: true;
$blue: #0E7dff;
$scribble: url("../images/backgrounds/scribble.png");
$scribble-flipped: url("../images/backgrounds/scribble_flipped.png");

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  height: 100%;
}

.container {
  padding: 10px;
}

.page {
  height: 100%;
}

.page-section {
  height: 50%;
}
.page-section-subscribe {
  height: 56%;
}
nav {
  padding: 20px 0 20px 13%;
  position: fixed;
  width: 100%;
  z-index: 1;

  .logo {
    display: block;
    width: 115px;
    height: auto;
  }
}

.subscribe-button {
  margin-top: 0.7em;
}

.space {
  padding: 20px 0;
}

.main-heading {
  font-size: 44px;
  font-weight: 100;
  position: relative;
  top: 80%;
  color: floralwhite;
  text-align: center;
  width: 100%;
}

.aboutus-sub-heading {
    color: $blue;
    font-size: 42px;
    font-weight: 200;
    float: left;
    margin-left: 12%;
    padding-top: 4%;
    padding-right: 2%;
}

.aboutus-general-text {
    color: #969696;
    text-align: left;
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    margin-left: 30%;
    display:table;
    width: 55%;
    padding-top: 4%;
}
.billion-sub-heading{
    color: $blue;
    font-size: 38px;
    font-weight: 200;
    float: right;
    display: table;
    width: 30%;
    margin-right: 3%;
}
.billion-general-text {
    color: #969696;
    text-align: left;
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    margin-left: 12%;
    padding-bottom: 7px;
    width: 75%;
}

.sub-heading {
    color: $blue;
    font-size: 42px;
    font-weight: 200;
    padding-bottom: 15px;
    padding-left: 7%;
    padding-right: 7%;
}

.general-text {
    color: #969696;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    padding-left: 8%;
    padding-right: 8%;
}

.backgroundImage {
    height: 100%;
    background: url("../images/backgrounds/backimage.png") no-repeat 50% 50%;
    background-size: cover;
    background-color: #181C2D;
}

.go-down {
  color: lightgray;
  font-weight: 100;
  position: relative;
  top: 60%;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 50px;
}

.section-container {
    height: 100%;
    background: #181C2D no-repeat center;
}

.about-us {
    background-image: $scribble;
}

.world {
    background-image: $scribble-flipped;
}
.content-container {
    @include vertical-align;
    padding: 0 20px;
}

.improve-results {
    height: 100%;
    background: #060C13;
    background-image: $scribble;
}

.platforms {
    height: 100%;
    //  background: #ededed;
    background-size: 100% 100%;

    /* IE10+ */ 
    background-image: -ms-linear-gradient(bottom, #ffffff 1%, #CCCCCC 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #ffffff 1%, #CCCCCC 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #ffffff 1%, #CCCCCC 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #ffffff), color-stop(100, #CCCCCC));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #ffffff 1%, #CCCCCC 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to top, #ffffff 1%, #CCCCCC 100%);
    
    }
.subscribe{
    background-size: 100% 100%;
    height: auto;
}

.mac-image {
    padding: 20px 0;
    width: 990px;
    width: 85%;
    height: auto;
}

.button {
    text-align: center;
	background: no-repeat scroll 95% 50% / 6px auto rgba(0, 0, 0, 0);
    padding: 10px 15px 10px 15px;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    color:rgba(255,255,255,0.80);
    border: 1px solid rgba(255,255,255,0.40);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.social {
    margin: 10px;
}

ul.image-grid {
    margin: 0;
    padding: 0;

  li {
    list-style: none;
    margin-bottom: 25px;
  }
}

.footer {
    background: #fff no-repeat center;
    padding: 10px 0 10px 0;
}

.signup {
    height: 100%;
    padding: 3%;

  h4 {
    color: $blue;
    font-weight: 200;
    font-size: 26pt;
    text-align: center;
  }
    input{
        padding: 10px 15px 10px 15px;
        font-family: 'Source Sans Pro';
        letter-spacing: 3px;
        color:rgba(255,255,255,0.80);
    }
    button{
        text-align: center;
        background: no-repeat 95% 50% / 6px auto rgba(0, 0, 0, 0);
        padding: 10px 15px 10px 15px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 3px;
        color:rgba(255,255,255,0.80);
        border: 1px solid rgba(0,0,0,0.40);
        color: black;
        margin-top: 4px;
    }
}

.copyright {
    margin: 20px 0;
    font-weight: 100;
    font-family: 'Source Sans Pro';
    font-size: 10pt;
}